<div class="dashboard">
  <div class="dashboard__categories">
    <div class="categories__title">Categories</div>
    <ul class="categories__list">
      <li
        class="categories__item"
        *ngFor="let item of categories"
        [style.background]="item.background"
      >
        {{ item.label }}
      </li>
    </ul>
    <button class="categories__add">Add category</button>
  </div>
  <div class="dashboard__taskPanel">
    <div class="dashboard__header">
      <div class="header__tasksCount">5 tasks</div>
      <button class="header__addTask" [swal]="newTaskSwal">Add new task</button>
      <button class="header__clearTasks">Clear completed</button>
    </div>
    <div class="dashboard__tasks">
      <ul class="dashboard__tasklist">
        <li class="dashboard__tasklist-item" *ngFor="let item of tasks">
          <img
            class="task__status"
            [src]="
              item.completed
                ? '../../assets/check-completed.svg'
                : '../../assets/check.svg'
            "
          />
          <p class="task__body">{{ item.body }}</p>
          <div
            class="task__category"
            [style.background]="item.category.background"
          >
            {{ item.category.label }}
          </div>
        </li>
      </ul>
      <div class="dashboard__taskFilter">
        <div class="filter__item">Active</div>
        <div class="filter__item-active">All</div>
        <div class="filter__item">Completed</div>
      </div>
    </div>
  </div>
</div>
<swal
  #newTaskSwal
  [swalOptions]="{
    background: '#54BAB9',
    width: 500,
    showConfirmButton: false
  }"
>
  <app-modal *swalPortal="undefined" (newTask)="addTask($event)"></app-modal>
</swal>
