.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
}
.title {
  text-transform: uppercase;
  color: #e9c597;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  width: 258px;
  margin: 80px 0px 50px 0px;
  line-height: 90%;
}
.app-theme {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
