<div class="modal__title">CREATE TASK</div>
<div class="modal__form" [formGroup]="taskForm">
  <input
    class="modal__input"
    placeholder="Task description...(min 5 symb.)"
    formControlName="body"
  />
</div>
<div class="modal__categories">
  <div class="categories__title">Categories</div>
  <ul class="categories__list">
    <li
      *ngFor="let item of categoriesService.categories$ | async; let i = index"
      [ngClass]="
        selectedCategory == item ? 'categories__item-active' : 'categories__item'
      "
      [style.background]="item.background"
      (click)="selectCategory(item)"
    >
      {{ item.label }}
    </li>
  </ul>
</div>
<button
  class="modal__submit"
  type="button"
  (click)="handleSubmit()"
  [disabled]="!taskForm.valid"
>
  SUBMIT TASK
</button>
